*{
    /* border: 1px solid red; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    /* border: 1px solid red; */
    /* position: relative; */
    
}
.desktop{
    /* border: 1px solid red; */
    background-color: #2c3e50;
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    /* margin: -10px;    */
}
.mobile{
    display: none;
}


.nav-desktop{
    /* border: 1px solid red;   */
    list-style: none;
    display: flex;
    /* display: none; */
    gap: 20px;
    margin: auto;
    /* margin-left: 295px;  */
    font-size: 17px;
}
.nav-desktop a:hover{
    color:  rgb(30, 144, 225);
    
}
.nav-desktop a{
    /* border: 1px solid red;   */
    text-decoration: none;
    color: white;   
}
.logo{
    font-weight: bold;
    color: white;
    font-size: 25px;
    margin-left: 20px;
}
img{
    width: 100%;
    
}
.hero{
    /* padding: 30px; */
   
}
.hero1{
    /* border: 1px solid red; */
    position: absolute;
    top:150px;
    right: 30px;
    width: 95%;
    height: 300px;
    text-align: center;
    border-radius: 10px;
    background-color:(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
    
}
.transform{

}
.hero1 h1{
    /* border: 1px solid red; */
    font-size: 70px;
    margin-top: 40px;
      background: linear-gradient(135deg, #3498db, #e74c3c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* line-height: 1.2; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
   
 
}
.hero1 p{
    font-size: 24px;
    color: #F5F5F5;
    line-height: 5px;
    margin-top: 40px;
}
.hero-btn{
    margin-top: 0px;
    width: 15%;
    margin-top: 40px;
    height: 20%;
    background-color: rgb(30, 144, 255);
    border: none;
    border-radius: 50px;
    font-size: 20px; 
    color: #F5F5F5;
    box-shadow:rgb(35, 50, 64,0.3);
}
.hero-btn:hover{
    cursor: pointer;
    /* background-color:  rgb(5, 125, 246); */
     box-shadow:5px 5px rgb(20, 104, 183);
    
}
.group-fit{
    margin: 20px;
}
.strength{
    /* border: 2px solid red; */
    display: flex;
    gap: 20px;
    margin-top: 40px;
    
}
.strength h3{
    font-weight: bold;
    font-size: 22px;
}
.strength p{
    font-size: 18px;
}
.strength i, .room i{
    /* border: 1px solid red; */
    color: rgb(30, 144, 255);
    font-size: 35px;
    
    
    
}
.training,.cardio,.yoga{
    /* border: 1px solid red; */
    border-radius: 10px;
    width: 50%;
    margin: 20px;
    text-align: center;
    background-color: #F5F5F5;
    height: 170px;
    align-content: center;
}
.room1{
     background-color: #F5F5F5,;
    height: 400px;
    
}
.our-fac{
    margin: 20px;
}
.room{
    display: flex;
    gap: 25px; 
     /* border: 1px solid red; */
    

   
}
.weight,.locker,.bar{
     /* border: 1px solid red; */
    border-radius: 10px;
    width: 50%;
    margin: 20px;
    text-align: center;
    background-color: #F5F5F5;
    height: 170px;
    align-content: center;
    

}
.plans-section{
    margin-bottom: 100px;
    
    
}
.plans{
    /* border: 1px solid red; */
    display: flex;
    /* gap: 20px; */
    
}
.plans h3{
    font-weight: bold;
}
.plans p{
    font-size: 25px;
    color: rgb(30, 144, 255);
}
.plans ul{
    line-height: 25px;
    font-size: 18px;
}
.plan-btn{
    border-radius: 5px;
    width: 120px;
    height: 40px;
    color: #F5F5F5;
    background-color: rgb(30, 144, 255);
    border: none;
    margin-left: 30px;
}
.plan-btn:hover{
    background-color: rgb(5, 125, 246);
    cursor: pointer;
    
    
}
.basic,.premium,.elite{
    /* border: 1px solid red; */
    border-radius: 10px;
    width: 50%;
    margin: 20px;
    list-style-position: inside;
    padding-left: 20px;
    height: 350px;
    padding: 20px;
    /* text-align: center; */
    background-color: #F5F5F5;    
}
.list li{
/* padding-left: 20px; */
}

.premium{
    border: 2px solid rgb(30, 144, 255); 
}
.Contact-container{
    /* border: 1px solid red; */
    display: flex;
    gap: 300px;
   margin-top: 50px;
   
    
}
.contact{
    /* border: 1px solid red; */
    line-height: 30px;
    margin-left: 20px;
}
.contact-form{
    /* border: 1px solid red; */
    
}
.name,.email,.subject,.message{
     /* border: 1px solid red; */
    margin: 10px;
    width: 600px;
    height: 40px;
    border-radius: 5px;
    
    
}
.message{
    height: 150px;
}
label{
    /* border: 1px solid red; */
    margin-left: 10px;
}
.form-btn{
    width: 150px;
    height: 45px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: rgb(30, 144, 255);
    border-radius: 5px;
    border: none;
    color: #F5F5F5;
}
.form-btn:hover{
    background-color:rgb(5, 125, 246);
    cursor: pointer;
    
}
footer{
    background-color: #2c3e50;
    margin-top: 80px;
}
.footer-quick-link{
    margin-left: 35px;
}
.footer-quick-link ul {
    list-style: none;
    
    
}
.footer-quick-link a{
     /* border: 1px solid red; */
    text-decoration: none;
    color: #F5F5F5;
    line-height: 30px;
    margin-left: 40px;
    /* margin-top: 50px; */
}
.footer-links{
    /* border: 1px solid red; */
    display: flex;
    gap: 300px;
    padding: 50px;
    color: #F5F5F5;

    
}
.open-hrs{
    /* border: 1px solid red; */
    line-height: 30px;
    list-style: 30px !important;
}
.follow-us{
     /* border: 1px solid red; */
    line-height:50px !important;
}
.social-links{
    font-size: 25px;
    
    
    
}
.social-links,.fab{
    color: #F5F5F5;
}
.footer-btn{
    text-align: center;
    padding: 15px 10px;
    color: #F5F5F5;
    font-weight: bold;
}



@media screen and (max-width:440px){
     
     
      .desktop{
        display: none;
      }
      .mobile{
        position: absolute;
        z-index: 2;
        display: block;
         background-color: #2c3e50;
          position: fixed;
           width: 100%;
           top: 0;
      }

      .logofit{
        margin-left: 15px;
        font-size: 20px;
        color: #F5F5F5;
      }
      .hambugar{
        margin-left: 90px;
        
      }
      .hidden{
        display: none;
        /* text-decoration: none; */
      }
      .hidden, li a{
        text-decoration: none;
        list-style: none;
        color: #F5F5F5;
        margin-left: 10px;
      }

      .nav-link{
        /* position: relative; */
        font-size: 20px;
        margin-top: 20px;
        color: #F5F5F5;
        /* margin: 0px 50px; */
       
      }
      .mobile{
        display: flex;
      }
      .nav-link:hover .hidden{
        display: block;
      }
      
       
    .nav-desktop{
        flex-direction: column;
        /* width: 100%; */
        /* height: 70px; */
        position: fixed;
        top: 0;
        /* margin: -5px; */
    }
    img{
        width: 100%;
        height: 350px;
    
    }
    .hero{
        /* position: relative; */
         /* border: 1px solid red; */
    }
    .hero1{
         /* border: 1px solid red; */
         z-index: 1;
    position: absolute;
    top:42px;
    width: 90%;
    height: 270px;
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 17px;
    }

    .transform{
        /* border: 1px solid red; */
        margin: 0px 10px;
        font-size: 35px !important;
        
        
    }
    .hero1 h1{
         /* border: 1px solid red; */
         margin-top: -5px;
    }
    .hero1 p{
         /* border: 1px solid red; */
         font-size: 18px;
         line-height: 25px;
         margin-top: 20px;
    }
    .hero-btn{
        width: 40%;
         /* border: 1px solid red; */
        font-size: 15px;
        margin-top: 20px;
    }

    .nav-links{
        flex-direction: column;
    }
    .strength{
        flex-direction: column;
        /* margin-left: 35px; */
       
    }
    .training,.cardio,.yoga{

        width: 86.8%;
    
    }
    .room{
        flex-direction: column;
    }
    .weight,.locker,.bar{
        width: 86.8%;
        
    }
    .plans-section{
        margin-top: 450px;
        
    }
    .plans{
        flex-direction: column;
        
    }
    .basic,.premium,.elite{
        width: 86.8%;
        

    }
    .Contact-container{
        flex-direction: column;
        
    }
    .name,.email,.subject,.message{
        /* margin: 10px; */
        width:86.8%;
        height: 40px;
    }
    .message{
        height: 150px;
    }
    .form-container{
        margin-top: -290px;
    }
    .footer{
         
    }
    
    .footer-links{
        flex-direction: column;
        
    }
    .footer-quick-link{
        margin-left: -38px;
        margin-bottom: 30px;
    }
    .open-hrs{
        margin-top: -300px;
        margin-bottom: 30px;

        
    }
    .open-hrs p{
         /* border: 1px solid red; */
         font-size: 13px;
    }
    .follow-us{
        margin-top: -300px;
        margin-left: -10px;
        
    }
    .footer-btn p{
        font-size: 13px;
    }
     
    
    
}

@media screen and (min-width:440px) and (max-width:900px){
    
      
    .desktop{
         /* border: 1px solid red; */
        flex-direction: column;
        width: 100%;
        height: 70px;
        position:fixed;
        top: 0;
        /* margin: -5px; */
    }
    .logo{
        /* border: 1px solid red; */
        align-self: flex-start;
    }
    .desktop ul{
         /* border: 1px solid red; */
         position: absolute;
         margin-top: 30px;
         margin-left: 70px;
         
    }
    img{
        width: 100%;
        height: auto;
    
    }
    .hero{
        /* position: relative; */
         /* border: 1px solid red; */
    }
    .hero1{
         /* border: 1px solid red; */
    /* position: absolute; */
    top: 70px;
    width: 95%;
    height: 330px;
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 20px;
    }
    .transform{
        /* border: 1px solid red; */
        
    }
    .hero1 h1{
         /* border: 1px solid red; */
         margin-top: -18px;
    }
    .hero1 p{
         /* border: 1px solid red; */
         font-size: 35px;
         line-height: 35px;
         
    }
    .hero-btn{
        width: 25%;
        height: 65px;
        font-size: 25px;
    }

    .nav-links{
        flex-direction: column;
    }
    .strength{
        flex-direction: column;
        /* margin-left: 35px; */
       
    }
    .training,.cardio,.yoga{
        width: 95%;
    
    }
    .room{
        flex-direction: column;
    }
    .weight,.locker,.bar{
        width: 95%;
        
    }
    .plans-section{
        margin-top: 450px;
        
    }
    .plans{
        flex-direction: column;
        
    }
    .basic,.premium,.elite{
        width: 95%;
        

    }
    .Contact-container{
        flex-direction: column;
        
    }
    .name,.email,.subject,.message{
        /* margin: 10px; */
        width:95%;
        height: 40px;
    }
    .message{
        height: 150px;
    }
    .form-container{
        margin-top: -290px;
    }
    .footer{
         
    }
    
    .footer-links{
        flex-direction: column;
        
    }
    .footer-quick-link{
         /* border: 1px solid red; */
         margin-left: -40px;
         margin-bottom: 30px;
    }
    .open-hrs{
        margin-top: -300px;
        margin-bottom: 30px;
        
    }
    .open-hrs p{
        font-size: 20px;
        /* margin-bottom: 30px; */
    }
    .follow-us{
        margin-top: -300px;
        margin-left: -13px;
        
    }
    .footer-btn p{
        font-size: 25px;
    }
     
        
}





