
header{
    /* border: 1px solid red; */
    
}
nav{
    /* border: 1px solid red; */
    background-color: #2c3e50;
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    
    
    
}
.nav-links{
    /* border: 1px solid red;   */
    list-style: none;
    display: flex;
    gap: 20px;
    margin-left: 500px;
    
    
}
.nav-links a{
    text-decoration: none;
    color: white;
    
}
.logo{
    font-weight: bold;
    color: white;
    font-size: 25px;
}
img{
    width: 100%;
}
.strength{
    /* border: 1px solid red; */
    display: flex;
    gap: 20px;
    
}
.training,.cardio,.yoga{
    /* border: 1px solid red; */
    border-radius: 10px;
    width: 35%;
    text-align: center;
    background-color: #F5F5F5;
    height: 170px;
    align-content: center;
}
.room{
    display: flex;
    gap: 20px;
}
.weight,.locker,.bar{
     /* border: 1px solid red; */
    border-radius: 10px;
    width: 35%;
    text-align: center;
    background-color: #F5F5F5;
    height: 170px;
    align-content: center;

}
.plans{
    /* border: 1px solid red; */
    display: flex;
    gap: 20px;
}
.basic,.premium,.elite{
    /* border: 1px solid red; */
    border-radius: 10px;
    width: 50%;
    height: 350px;
    text-align: center;
    background-color: #F5F5F5;
    padding: 25px;
     
}
.Contact-container{
    /* border: 1px solid red; */
    display: flex;
    gap: 300px;
    margin-top: 80px;
    
}
footer{
    background-color: #2c3e50;
}
.footer-links{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    
}
